name: Continuous Build and Test

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  call-build-and-test-workflow:
    name: 'test pull request'
    uses: ./.github/workflows/ci.yml
    with:
      ctest_model: Continuous
      ctest_build_name_suffix: ${{ github.ref }}
