name: Nightly Build and Test

on:
  schedule:
    - cron: '0 11 * * *' # Run everyday at 11.00 am UTC
  workflow_dispatch:

jobs:
  call-build-and-test-workflow:
    name: 'test master nightly'
    uses: ./.github/workflows/ci.yml
    with:
      ctest_model: Nightly
