name: Nightly Build and Test

on:
  schedule:
    - cron: '0 7 * * *' # Run everyday at 07.00 am UTC
  workflow_dispatch:

jobs:
  call-nix-build-and-test-workflow:
    name: 'test master nightly'
    uses: ./.github/workflows/nix-ci.yml
    with:
      ctest_model: Nightly
      ctest_build_name_suffix: master
  call-linux-build-and-test-workflow:
    name: 'test linux nightly'
    uses: ./.github/workflows/linux-ci.yml
    with:
      ctest_model: Nightly
      ctest_build_name_suffix: master
